<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741397086243-ke067g214os35oqq0uv45dstb7vga37b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741397086243-ke067g214os35oqq0uv45dstb7vga37b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741397086243-a1arjl5ql10l60kcqp9p9g1v32oa9pod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEAbq-P4wRZw1UWGLAoSAA05lLseQkE9c</string>
	<key>GCM_SENDER_ID</key>
	<string>741397086243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aardwegmedia.playpost</string>
	<key>PROJECT_ID</key>
	<string>playpost</string>
	<key>STORAGE_BUCKET</key>
	<string>playpost.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741397086243:ios:2b62c799a96e7f66</string>
	<key>DATABASE_URL</key>
	<string>https://playpost.firebaseio.com</string>
</dict>
</plist>
