{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "arrow-parens": "off",
    "object-curly-newline": "off"
  },
  "globals": {
    "fetch": false,
    "alert": false
  }
}
